
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Contacts.css")
   
<h2 style="text-align: center">Contacts</h2>
<div class="showTeachers">
   
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")


    <script>
        $().ready(function() {
            requestTeachers(printInformation);
        });

        //Ajax Request for teachers
        function requestTeachers(returnFunction) {
            var data = {};
            data["start"] = moment().isoWeekday(1).format("YYYY-MM-DD");
            data["end"] = moment().isoWeekday(7).format("YYYY-MM-DD");
            $.ajax({
                type: "GET",
                url: '/Contacts/ReturnOfficeHours',
                data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: returnFunction,
                failure: function(response) {
                    console.log("Fail");
                    alert(response.d);
                }
            });
        }

        //Adds Information to the page
        function printInformation(teachers) {
            console.log(teachers);
            var endTime = undefined;
            var startTime = undefined;
            var office = undefined;
            var floor = undefined;
            var email = undefined;
            var name = undefined;
            var course = undefined;
            var iteration = 0;
            $.each(teachers,
                function(key, value) { //Teacher -> Name Email, StartTime, EndTime, Rooms.Name Rooms Floor 
                    endTime = value.EndTime;
                    //Iterate Over Rooms
                    $.each(value.Rooms,
                        function(property, val) {
                            office = val.Name;
                            floor = val.Floor;
                        });
                    startTime = value.StartTime;
                    name = value.Teacher.Name;
                    email = value.Teacher.Email;

                    $.each(value.Teacher.Courses,
                        function(chave, valor) {
                            course = valor.Name;
                        });
                    iteration += 1;
                });
            renderTeacher(iteration, endTime, startTime, office, floor, email, name, course);
        }

        //Presents officehours of week
        function renderTeacher(officeHoursAvailable, endTime, startTime, office, floor, email, name, course) {
            if (officeHoursAvailable == 0) {
                $('.showTeachers').html("There are no office hours this week");
            } else {
                $('.showTeachers').append(
                    '<div class="col-md-6">' +
                    '<div class="teacherContainer">' +
                    '<div class="classname">' +
                    course +
                    '</div>' +
                    '<div class="teacherPic col-md-6 col-lg-6">' +
                    '<div class="centerBlock">' +
                    '<img src="/Content/images/user.png" />' +
                    '</div>' +
                    '</div>' +
                    '<div class="information col-md-6 col-lg-6">' +
                    '<p>Nome: <span id="name">' +
                    name +
                    '</span></p>' +
                    '<p>E-mail: <span id="Email">' +
                    email +
                    '</span></p>' +
                    '<p>Gabinete: <span id="Gabinete">' +
                    office +
                    '</span></p>' +
                    '<p>Horário Atendimento: <span id="officeHour">' +
                    startTime +
                    ' - ' +
                    endTime +
                    '</span></p>' +
                    '</div>' +
                    '</div>' +
                    '</div>');
            }
        };
    </script>
}