
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Contacts.css")
   
<h2 style="text-align: center">Week Office Hours</h2>
<div class="showTeachers">
   
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")


    <script>
        $().ready(function() {
            requestTeachers(printInformation);
        });

        //Ajax Request for teachers
        function requestTeachers(returnFunction) {
            var data = {};
            data["start"] = moment().isoWeekday(1).format("YYYY-MM-DD");
            data["end"] = moment().isoWeekday(7).format("YYYY-MM-DD");
            //console.log(data);
            $.ajax({
                type: "GET",
                url: '/Items/OfficeHours',
                data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: returnFunction,
                failure: function(response) {
                    console.log("Fail");
                    alert(response.d);
                }
            });
        }

        //Adds Information to the page
        function printInformation(teachers) {
            console.log(teachers);
            var endTime = undefined;
            var startTime = undefined;
            var office = undefined;
            var floor = undefined;
            var email = undefined;
            var name = undefined;
            var course = undefined;
            var iteration = 0;
            var numberTuples = teachers.length;
            $.each(teachers,
                function(key, value) { //Teacher -> Name Email, StartTime, EndTime, Rooms.Name Rooms Floor 
                    endTime = value.EndTime;
                    //Iterate Over Rooms
                    $.each(value.Rooms,
                        function(property, val) {
                            office = val.Name;
                            floor = val.Floor;
                        });
                    //console.log(value.Teacher);
                    startTime = value.StartTime;
                    name = value.Teacher.Name;
                    email = value.Teacher.Email;
                    var courses = [];

                    $.each(value.Teacher.Courses,
                        function(chave, valor) {
                            course = valor.Name;
                            courses.push(course);
                        });
                    iteration += 1;
                    var checkRepeated = $('a[href="mailto:' + email + '"]').length;
                    if (checkRepeated === 0) {
                        if (iteration % 2 === 0) {
                            renderTeacher(iteration, endTime, startTime, office, floor, email, name, courses);
                            $('.showTeachers').append("</div>");

                        } else {
                            if (iteration === numberTuples) {
                                //Par logo fecho a row
                                renderTeacher(iteration, endTime, startTime, office, floor, email, name, courses);
                                $('.showTeachers').append("</div>");
                            } else {
                                $('.showTeachers').append("<div class='row'>");
                                renderTeacher(iteration, endTime, startTime, office, floor, email, name, courses);
                            }
                        }
                    } else {
                        renderTeacher(iteration, endTime, startTime, office, floor, email, name, courses);
                        iteration -= 1;
                    }
                });
            if (iteration === 0) {
                $('.showTeachers').html("There are no office hours this week");
            }
        }


        //Presents officehours of week
        function renderTeacher(officeHoursAvailable, endTime, startTime, office, floor, email, name, course) {
            var checkRepeated = $('a[href="mailto:' + email + '"]').length;
            //console.log(checkRepeated);
            if (checkRepeated === 0) {
                $('.showTeachers').append(
                    '<div class="col-md-6 ">' +
                    '<div class="teacherContainer">' +
                    '<div class="classname">' +
                    course +
                    '</div>' +
                    '<div class="teacherWrapper  col-md-6">' +
                    '<div class="teacherPic col-md-6 col-lg-6">' +
                    '<div class="centerBlock">' +
                    '<img src="/Content/images/user.png" />' +
                    '</div>' +
                    '</div>' +
                    '<div class="information col-md-6 col-lg-6">' +
                    '<p>Nome: <span class=name>' +
                    name +
                    '</span></p>' +
                    '<p>E-mail:' +
                    '<a href=mailto:' +
                    email +
                    '>' +
                    email +
                    '</a></p>' +
                    '<p>Gabinete: <span class="Gabinete">' +
                    office +
                    '</span></p>' +
                    '<p>Horário Atendimento: <span class="officeHour">' +
                    "<br>" +
                    moment(startTime).format("ddd Do MMM H:mm") +
                    ' - ' +
                    moment(endTime).format("H:mm") +
                    '</span></p>' +
                    '</div>' +
                    '</div>' +
                    '</div>');
            } else {
                //If the teacher has more than one attendance hour/w do not print it two times
                $('a[href="mailto:' + email + '"]').parent().next().next()
                    .append("<br>" +
                        moment(startTime).format("ddd Do MMM H:mm") +
                        " - " +
                        moment(endTime).format("H:mm"));
            }

        };
    </script>
}