.teacherWrapper {
    border: solid thin gray;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
}
.teacherContainer {
    border-bottom: solid thin gray ;
}

.teacherContainer .classname {
    text-align: center;
    background-color: #337ab7;
    color: white;
}

.teacherPic img {
    height: 150px;
    width: 150px;
    text-align: center
}

.information {
    padding-top: 5px;
    text-align: center;
}

.teacherContainer .centerBlock {
  display: table;
  margin: auto;
}
